@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: rgb(255, 255, 255);
    /* position: fixed; */
    top: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    color: black;
}
nav ul {
    display: flex;
    justify-content: center;
    /* text-decoration: none; */
}

nav ul li {
    list-style: none;
    margin: 23px;
    /* text-decoration: none; */
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul .aboutus{
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    position: relative;
    top: -10px;
}

.testimonials{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
}
.spacex{
    position: relative;
    top: -30px;
}
.nasa{
    position: relative;
    top: 60px;
}
.astro{
    position: relative;
    top: 20px;
}
.marsimage{
    /* width: 1680px;
    height: 533px;
    top: 2288px;
    left: 120px; */
    position: relative;
    left: 120px;
}
.marsimage img{    
    border-radius: 40px;
}
.marstext{
    color: black;
    display: flex;
    justify-content: space-evenly
}
.mars1{
    /* position: relative; */
    width: 452px;
height: 434px;
/* top: 2675px; */
/* left: 734px; */
border-radius: 24px; 

}