@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: rgb(255, 255, 255);
    /* position: fixed; */
    top: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    color: black;
}
nav ul {
    display: flex;
    justify-content: center;
    /* text-decoration: none; */
}

nav ul li {
    list-style: none;
    margin: 23px;
    /* text-decoration: none; */
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul .aboutus{
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    position: relative;
    top: -10px;
}

.testimonials{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
}
.spacex{
    position: relative;
    top: -30px;
}
.nasa{
    position: relative;
    top: 60px;
}
.astro{
    position: relative;
    top: 20px;
}

.rectimage{
    position: relative;
    /* width: 609px; */
/* height: 81px; */
/* top: 3350px; */
left: 120px;
}

.rect504{
    margin-bottom: 100px;
}

.text504{
    /* color: black; */
    position: relative;
    top: -300px;
    left: 150px;
    font-size: 30px;
}
.text2504{
    position: relative;
    top: -300px;
    left: 150px;
    font-style: normal;
}
.form504{
    position: relative;
    top: -300px;
    left: 150px;
}
.form504 input{
    height: 60px;
    border-radius: 20px;
    width: 600px;
    margin-top: 20px;
    text-align: center;
}
.form504 button{
    background-color: #A9C2CB;
    height: 60px;
    width: 200px;
    border-radius: 20px;
}

.footerbar{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
   
}
   

#footerr{
    list-style:none;
    text-decoration: none;
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
}
.box2{
    text-decoration: none;
    justify-self:center;
    gap:10px;
    /* font-family: Plus Jakarta Sans; */
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    display:flex;
    gap:40px;



}
a{
    text-decoration:none;
    color:#020305;
}
.box3{
    text-decoration: none;
    /* font-family: Plus Jakarta Sans; */
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    display:flex;
    gap:40px;
}
.box4{
    padding-top: 50px;
}
.new{
    /* font-family: Plus Jakarta Sans; */
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}
.new{
    align-items:end;
    justify-content: center;
    text-align: center;
    color: #5C5050;


}
.down{
    list-style: none;
}